/* * * * * * * * * * * * * * * * *
 *    CMST 495 6380 Group 2      *
 * * * * * * * * * * * * * * * * *
 *
 * Name: style.js
 * Author: Rachael Schutzman, Selamawit Asfaw, Danny Ramirez, Gilda Hogan, Gavin Spain
 * Description: Main stylesheet
 *
 */
/* == Include web fonts == */
@font-face {
    font-family: "Karmatic Arcade";
    font-style: normal;
    font-weight: normal;
    src: local("Karmatic Arcade"), url("assets/fonts/ka1.woff") format("woff");
}
@font-face {
    font-family: "Press Start Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Press Start Regular"), url("assets/fonts/PrStart.woff") format("woff");
}

/* == General == */
html, body {
    height: 100%;
}

body {
    background-color: rgb(22, 22, 22);
    color: #ffffff;
    font-family: "Press Start Regular", sans-serif;
    line-height: 1.8;
}

#wrapper {
    margin: 0 auto;
    width: 800px;
}

.main-header,
.main-footer {
    text-align: center;
    padding: 40px 0;
}
.screenshots {
    text-align: center;
}

/* == Headers == */
.game-title {
    font-family: "Karmatic Arcade", sans-serif;
}

